TestFlujoWebServiceSOAT/Service References/wsVentasUNIVIDA/wsVentas8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UVNetTransversal.AgenteServicios.Almacenamiento.Archivos.EntidadesSalida" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UVNetTransversal.AgenteServicios.Almacenamiento.Archivos.EntidadesSalida" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CArchivosAdjuntos">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivoAdjunto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ArchivoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivoDirectorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivoExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivoLongitud" type="xs:int" />
      <xs:element minOccurs="0" name="ArchivoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivoTipoContenido" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CArchivosAdjuntos" nillable="true" type="tns:CArchivosAdjuntos" />
</xs:schema>