Cerberus.ATC.GatewayV2Service/Service References/wsParametricas/wsParametricas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.Parametricas.ClasesSalida" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.Parametricas.ClasesSalida" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://181.188.175.133:9801/Modulos/Parametricas/wsParametricas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSalida" />
  <xs:import schemaLocation="http://181.188.175.133:9801/Modulos/Parametricas/wsParametricas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.ClasesBase" />
  <xs:import schemaLocation="http://181.188.175.133:9801/Modulos/Parametricas/wsParametricas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSaida" />
  <xs:complexType name="CSParObtenerPrimas">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CSPar">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSalida" minOccurs="0" name="lPrima" nillable="true" type="q1:ArrayOfCPrima" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSParObtenerPrimas" nillable="true" type="tns:CSParObtenerPrimas" />
  <xs:complexType name="CSPar">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.ClasesBase" base="q2:CSModulos">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSPar" nillable="true" type="tns:CSPar" />
  <xs:complexType name="CSParObtenerVehiculoTipos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CSPar">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSaida" minOccurs="0" name="lVehiculoTipo" nillable="true" type="q3:ArrayOfCVehiculoTipo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSParObtenerVehiculoTipos" nillable="true" type="tns:CSParObtenerVehiculoTipos" />
  <xs:complexType name="CSParObtenerVehiculoUsos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CSPar">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSaida" minOccurs="0" name="lVehiculoUso" nillable="true" type="q4:ArrayOfCVehiculoUso" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSParObtenerVehiculoUsos" nillable="true" type="tns:CSParObtenerVehiculoUsos" />
  <xs:complexType name="CSParObtenerDepartamentos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CSPar">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSaida" minOccurs="0" name="lDepartamento" nillable="true" type="q5:ArrayOfCDepartamento" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSParObtenerDepartamentos" nillable="true" type="tns:CSParObtenerDepartamentos" />
  <xs:complexType name="CSParObtenerFacturaTipo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CSPar">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSaida" minOccurs="0" name="lFacturaTipoL" nillable="true" type="q6:ArrayOfCFacturaTipoL" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSParObtenerFacturaTipo" nillable="true" type="tns:CSParObtenerFacturaTipo" />
  <xs:complexType name="CSParObtenerGestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CSPar">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSaida" minOccurs="0" name="lGestionLHabilitadas" nillable="true" type="q7:ArrayOfCGestionLHabilitadas" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSParObtenerGestion" nillable="true" type="tns:CSParObtenerGestion" />
  <xs:complexType name="CSParObtenerMedioPago">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CSPar">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSaida" minOccurs="0" name="lMedioPagoL" nillable="true" type="q8:ArrayOfCMedioPagoL" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSParObtenerMedioPago" nillable="true" type="tns:CSParObtenerMedioPago" />
  <xs:complexType name="CSParObtenerVentaCanal">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CSPar">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSaida" minOccurs="0" name="lVentaCanalL" nillable="true" type="q9:ArrayOfCVentaCanalL" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSParObtenerVentaCanal" nillable="true" type="tns:CSParObtenerVentaCanal" />
  <xs:complexType name="CSParObtenerBancos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CSPar">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSaida" minOccurs="0" name="lBancos" nillable="true" type="q10:ArrayOfCBancos" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSParObtenerBancos" nillable="true" type="tns:CSParObtenerBancos" />
  <xs:complexType name="CSParObtenerPlacasTipo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CSPar">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSaida" minOccurs="0" name="lPlacasTipo" nillable="true" type="q11:ArrayOfCPlacasTipo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSParObtenerPlacasTipo" nillable="true" type="tns:CSParObtenerPlacasTipo" />
</xs:schema>