Cerberus.ATC.GatewayV2Service/Service References/wsSeguridad/wsSeguridad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsSeguridad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://181.188.175.133:9801/Modulos/Seguridad/wsSeguridad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://181.188.175.133:9801/Modulos/Seguridad/wsSeguridad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://181.188.175.133:9801/Modulos/Seguridad/wsSeguridad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.Seguridad.ClasesEntrada" />
      <xsd:import schemaLocation="http://181.188.175.133:9801/Modulos/Seguridad/wsSeguridad.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.ClasesBase" />
      <xsd:import schemaLocation="http://181.188.175.133:9801/Modulos/Seguridad/wsSeguridad.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.Seguridad.ClasesSalida" />
      <xsd:import schemaLocation="http://181.188.175.133:9801/Modulos/Seguridad/wsSeguridad.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UVNetTransversal.AgenteServicios.Seguridad.UsuariosInternos.EntidadesSalida" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwsSeguridad_Seg01Autenticacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Seg01Autenticacion" />
  </wsdl:message>
  <wsdl:message name="IwsSeguridad_Seg01Autenticacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Seg01AutenticacionResponse" />
  </wsdl:message>
  <wsdl:message name="IwsSeguridad_Seg02CambiarContrasenia_InputMessage">
    <wsdl:part name="parameters" element="tns:Seg02CambiarContrasenia" />
  </wsdl:message>
  <wsdl:message name="IwsSeguridad_Seg02CambiarContrasenia_OutputMessage">
    <wsdl:part name="parameters" element="tns:Seg02CambiarContraseniaResponse" />
  </wsdl:message>
  <wsdl:portType name="IwsSeguridad">
    <wsdl:operation name="Seg01Autenticacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsSeguridad/Seg01Autenticacion" message="tns:IwsSeguridad_Seg01Autenticacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsSeguridad/Seg01AutenticacionResponse" message="tns:IwsSeguridad_Seg01Autenticacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Seg02CambiarContrasenia">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsSeguridad/Seg02CambiarContrasenia" message="tns:IwsSeguridad_Seg02CambiarContrasenia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsSeguridad/Seg02CambiarContraseniaResponse" message="tns:IwsSeguridad_Seg02CambiarContrasenia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IwsSeguridad" type="tns:IwsSeguridad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Seg01Autenticacion">
      <soap:operation soapAction="http://tempuri.org/IwsSeguridad/Seg01Autenticacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seg02CambiarContrasenia">
      <soap:operation soapAction="http://tempuri.org/IwsSeguridad/Seg02CambiarContrasenia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsSeguridad">
    <wsdl:port name="BasicHttpBinding_IwsSeguridad" binding="tns:BasicHttpBinding_IwsSeguridad">
      <soap:address location="http://181.188.175.133:9801/Modulos/Seguridad/wsSeguridad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>