TestFlujoWebServiceSOAT/Service References/wsParametricasUNIVIDA/wsParametricas6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSalida" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternosAgenteServiciosCoreSoat.Modulos.Parametricas.EntidadesSalida" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCPrima">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPrima" nillable="true" type="tns:CPrima" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPrima" nillable="true" type="tns:ArrayOfCPrima" />
  <xs:complexType name="CPrima">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartamentoVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartamentoVentaDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gestion" type="xs:int" />
      <xs:element minOccurs="0" name="Prima" type="xs:int" />
      <xs:element minOccurs="0" name="VehiculoTipo" type="xs:int" />
      <xs:element minOccurs="0" name="VehiculoTipoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehiculoUso" type="xs:int" />
      <xs:element minOccurs="0" name="VehiculoUsoDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPrima" nillable="true" type="tns:CPrima" />
</xs:schema>