TestFlujoWebServiceSOAT/Service References/wsParametricasUNIVIDA/wsParametricas4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.Parametricas.ClasesEntrada" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.Parametricas.ClasesEntrada" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://181.188.175.133:9801/Modulos/Parametricas/wsParametricas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.ClasesBase" />
  <xs:complexType name="CEParObtenerPrimas">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CEPar">
        <xs:sequence>
          <xs:element minOccurs="0" name="ParGestionFk" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEParObtenerPrimas" nillable="true" type="tns:CEParObtenerPrimas" />
  <xs:complexType name="CEPar">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ExternosNegociosCoreSoat.Modulos.ClasesBase" base="q1:CEModulos">
        <xs:sequence>
          <xs:element minOccurs="0" name="SeguridadToken" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEPar" nillable="true" type="tns:CEPar" />
  <xs:complexType name="CEParObtenerVehiculoTipos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CEPar">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEParObtenerVehiculoTipos" nillable="true" type="tns:CEParObtenerVehiculoTipos" />
  <xs:complexType name="CEParObtenerVehiculoUsos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CEPar">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEParObtenerVehiculoUsos" nillable="true" type="tns:CEParObtenerVehiculoUsos" />
  <xs:complexType name="CEParObtenerDepartamentos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CEPar">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEParObtenerDepartamentos" nillable="true" type="tns:CEParObtenerDepartamentos" />
  <xs:complexType name="CEParObtenerFacturaTipo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CEPar">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEParObtenerFacturaTipo" nillable="true" type="tns:CEParObtenerFacturaTipo" />
  <xs:complexType name="CEParObtenerGestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CEPar">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEParObtenerGestion" nillable="true" type="tns:CEParObtenerGestion" />
  <xs:complexType name="CEParObtenerMedioPago">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CEPar">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEParObtenerMedioPago" nillable="true" type="tns:CEParObtenerMedioPago" />
  <xs:complexType name="CEParObtenerVentaCanal">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CEPar">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEParObtenerVentaCanal" nillable="true" type="tns:CEParObtenerVentaCanal" />
</xs:schema>